@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
#ProjectNav { 
    font-family: "Public Sans", sans-serif;
    position: fixed;
    bottom: 2px; right: 2px;
    padding: 1rem;
    background-color: blue;
    color: white;
    border: 1px solid white;

    & * { color: inherit;}
    & a, a:visited { 
        padding: 1rem;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.5em;
        margin:  0 0.25em;
    }
    & a:hover { 
        color: blue;
        background-color: white;
    }
}